body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FAFAD2;
}

h1 {
    margin-top: 50px;
    color: #5b3131;
}

h3 {
    color: #5b3131;
}

input[type="file"], input[type="text"], button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

input[type="file"] {
    background-color: #FFFFE0;
}

button {
    background-color: #F5DEB3;
    cursor: pointer;
}

button:hover {
    background-color: #ffa600;
    cursor: pointer;
}

.preview-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.preview {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFE0;
    border-radius: 5px;
    text-align: left;
    white-space: pre-line;
    line-height: 1.5;
    max-height: 300px;
    overflow-y: auto;
}

form {
    margin-top: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label {
    background-color: #ddd;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #F5DEB3;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color:  #ffa600;
}

#current-state {
    color: #ff0000;
}